---
import Searchbar from '../components/ui/Searchbar/Searchbar'
import Navbar from '../components/ui/Navbar/Navbar'
import '../styles/global.css'
---

<div class="p-4">
  <Navbar />
  <slot />
</div>
